node_modules/
package-lock.json
package.json
.gitignore
javascript/javascript2/week1/Homework/styles.scss
javascript/javascript2/week1/Homework/styles.min.css
javascript/javascript2/week1/Javascript2Project/newFeatures.js
.prettierrc
eslint.config.mjs
