body {
  background-color: #004d40;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1,
h2,
p {
  margin: 10px 0;
}

button {
  background-color: #ff9800;
  border: none;
  padding: 5px 35px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #e68900;
}

.cards {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
  justify-content: center;
}

@media (min-width: 612px) {
  .cards__grid {
    max-width: 550px;
  }
}

@media (min-width: 1024px) {
  .cards__grid {
    max-width: 750px;
  }
}

@media (min-width: 1830px) {
  .cards__grid {
    max-width: 1800px;
  }
}

.card__info {
  width: 90px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.card__info:hover {
  transform: scale(1.1);
}
