body {
  background-color: #004d40;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1,
h2,
p {
  margin: 10px 0;
}

button {
  background-color: #ff9800;
  border: none;
  padding: 5px 35px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #e68900;
}

.cards {
  padding: 10% 0;
  display: flex;
  justify-content: center;
}

.cards__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
}

.card__info {
  width: 90px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 1s ease-out;
  cursor: pointer;
}

.card__info--flipped {
  transform: rotateY(-360deg);
}

@media (min-width: 612px) {
  .cards__box {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1024px) {
  .cards__box {
    grid-template-columns: repeat(9, 1fr);
  }
}

@media (min-width: 1830px) {
  .cards__box {
    grid-template-columns: repeat(12, 1fr);
  }
}
