/*----Global Styling----*/
body {
  font-family: "Sans-serif", "Arial";
  margin: 0;
  background-color: #d3d3d3;
}

body p {
  line-height: 25px;
  font-size: 18px;
  border-radius: 15px;
}

body a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

body a:hover {
  color: white;
  text-decoration: underline dotted;
  scale: 1.05;
  transition: scale 0.3s ease-out;
  z-index: 2;
}

body a, body a:visited, body a:active {
  color: inherit;
  text-decoration: none;
}

body section {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}

body h1 {
  font-size: 50px;
}

body h2 {
  font-size: 35px;
  font-weight: 700;
}

body h3 {
  font-size: 24px;
  opacity: 90%;
}

/*----Navigation Bar----*/
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 90px;
  padding: 0 10%;
  z-index: 5;
  width: 80%;
  background: linear-gradient(90deg, #79797d 1%, #a6a6a6 38%, #797879 53%, #b6b5b6 64%, #828282 100%);
  /*----Burger Menu----*/
}

.navigation__img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 15px;
}

.navigation__links {
  list-style-type: none;
  padding: 0;
  display: none;
  color: white;
  flex-direction: column;
  z-index: 5;
  top: 58px;
  text-transform: uppercase;
}

.navigation__link {
  padding: 15px;
}

.navigation__menu {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.navigation__line {
  background-color: white;
  height: 4px;
  width: 30px;
  margin: 5px 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.navigation__mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #302f2f;
  border-radius: 30%;
  width: 3em;
  height: 3em;
}

.navigation__toggle {
  display: none;
}

.navigation__toggle:checked ~ .navigation__links {
  display: inline-block;
  text-align: center;
  width: 100%;
  left: 0;
  position: fixed;
  background: #79797d;
  background: linear-gradient(90deg, #79797d 1%, #a6a6a6 38%, #797879 53%, #b6b5b6 64%, #828282 100%);
  font-size: 2rem;
}

.navigation__toggle:checked + label .line:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.navigation__toggle:checked + label .line:nth-child(2) {
  opacity: 0;
}

.navigation__toggle:checked + label .line:nth-child(3) {
  margin-bottom: -10%;
  transform: translateY(-18px) rotate(-45deg);
}

/*----Header----*/
.header {
  text-align: center;
  width: 100%;
  padding: 110px 0 35px 0;
}

.header__description {
  font-size: 18px;
  opacity: 75%;
}

.header__title {
  margin-bottom: -7px;
}

/*----Briefly About Me----*/
.about {
  padding-bottom: 50px;
}

.about__img {
  border-radius: 30px 30px 0 0;
  object-fit: cover;
  max-height: 500px;
}

.about__container {
  background-color: #f5f5f5;
  border-radius: 0 0 30px 30px;
  padding: 0 30px;
}

.about__text {
  opacity: 75%;
}

.about__buttons {
  padding: 21px 0 21px 0;
  display: flex;
  flex-direction: column;
}

.about__button1 {
  color: #ffffff;
  border: 1px solid #057fd0;
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color: #33bdef;
}

.about__button1:hover {
  background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color: #019ad2;
}

.about__button1:active {
  position: relative;
  top: 1px;
}

.about__button {
  font-size: 17px;
  padding: 9px 30px;
  text-align: center;
  font-weight: bold;
  border-radius: 15px;
  text-shadow: 0px 1px 0px #e1e2ed;
  box-shadow: 3px 4px 0px 0px #899599;
}

.about__button2 {
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border: 1px solid #d6bcd6;
  color: #3a8a9e;
  margin-top: 15px;
}

.about__button2:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}

.about__button2:active {
  position: relative;
  top: 1px;
}

.about__buttonsvg {
  height: 21px;
  padding-right: 5px;
  margin-bottom: -6px;
}

/*----Work Experience----*/
.work {
  padding-bottom: 50px;
}

.work__container {
  background-color: #f5f5f5;
  border-radius: 30px;
  padding: 0 30px;
}

.work__text {
  opacity: 75%;
  text-align: left;
}

.work__description {
  opacity: 95%;
}

/*----Skills & Knowledge----*/
.skills {
  padding-bottom: 50px;
}

.skills__container {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 0 30px;
}

.skills__description {
  border: 1px solid #bdb3b3;
  border-radius: 20px;
  padding: 0 15px 15px 15px;
  margin-bottom: 25px;
}

.skills__description:hover {
  border-color: black;
}

.skills__subject {
  font-weight: 700;
  font-size: 20px;
}

.skills__progressbar {
  background-color: black;
  height: 6px;
  border-radius: 3px;
}

.skills__dot {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  width: 9px;
  height: 9px;
  background-color: #e69fab;
  border: 1px solid black;
  border-radius: 50%;
}

.skills__progress {
  background: linear-gradient(90deg, #020024 0%, #b449ee 10%, rgba(209, 51, 235, 0.891194) 35%, #ba45ed 73%, #00d4ff 100%);
  height: 6px;
  position: relative;
}

.skills__js {
  width: 10%;
}

.skills__python, .skills__sql {
  width: 20%;
}

.skills__html, .skills__css {
  width: 35%;
}

.skills__office {
  width: 50%;
}

.skills__english {
  width: 80%;
}

.skills__russian, .skills__greek {
  width: 100%;
}

/*----Portfolio----*/
.portfolio {
  padding-bottom: 50px;
}

.portfolio__container {
  background-color: #f5f5f5;
  border-radius: 30px;
  padding: 0 30px 15px 30px;
}

.portfolio__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  border-radius: 20px;
  border: 3px solid transparent;
  transition: transform 0.3s ease;
}

.portfolio__link {
  color: #5e095e;
  font-weight: 700;
  font-size: 24px;
}

/*----Footer----*/
.contacts {
  padding: 25px 10%;
  background-color: rebeccapurple;
  color: white;
}

.contacts__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
  padding: 0 0 30px 5%;
}

.contacts__title {
  margin-bottom: 20px;
  padding-left: 5%;
}

.contacts__link {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 15px;
  font-size: 18px;
  font-weight: 700;
}

.contacts__link:hover {
  transition: scale 0.3s ease-out;
  scale: 1.05;
}

.contacts__svg {
  height: 25px;
}

@media (min-width: 768px) {
  .skills {
    padding-bottom: 45px;
  }
  .skills__summary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .skills__description {
    width: 42%;
  }
  .skills__subject {
    padding-left: 15px;
  }
  .skills__bartext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
    padding: 0 15px 25px 15px;
  }
}

@media (min-width: 1024px) {
  /*----Navigation Bar Desktop----*/
  .navigation {
    padding: 10px 10% 10px 10%;
  }
  .navigation__links {
    display: flex;
    flex-direction: row;
    margin-left: -75px;
  }
  .navigation__link {
    margin-left: 10px;
    font-size: 25px;
  }
  .navigation__link:hover {
    scale: 1.05;
    transition: scale 0.3s ease-out;
  }
  .navigation__img {
    width: 75px;
    height: 75px;
    border-radius: 15px;
  }
  .navigation__img:hover {
    scale: 1.05;
    transition: scale 0.3s ease-out;
  }
  .navigation__mobile {
    background-color: transparent;
  }
  .navigation__menu {
    display: none;
  }
  .navigation__container {
    margin: 0 auto;
  }
  /*----Header Desktop----*/
  .header {
    padding-top: 150px;
  }
  .header__title {
    font-size: 100px;
  }
  /*----Briefly About Me Desktop----*/
  .about__img {
    max-height: 900px;
  }
  .about__container {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    border-radius: 0 20px 20px 0;
  }
  .about__title {
    text-align: center;
  }
  .about__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding-bottom: 35px;
  }
  .about__button {
    margin: 0;
    width: 40%;
  }
  /*----Work Experience Desktop----*/
  .work {
    padding-bottom: 70px;
  }
  .work__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .work__text {
    max-width: 80%;
  }
  .work__period {
    border: 2px solid #bdb3b3;
    padding: 5px;
    border-radius: 15px;
  }
  /*----Skills & Knowledge Desktop----*/
  .skills {
    padding-bottom: 45px;
  }
  .skills__summary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .skills__description {
    width: 28%;
  }
  .skills__subject {
    padding-left: 15px;
  }
  .skills__bartext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
    padding: 0 15px 25px 15px;
  }
  /*----Portfolio Desktop----*/
  .portfolio {
    margin-bottom: 35px;
  }
  .portfolio__container {
    padding: 10px 30px 14px 30px;
  }
  .portfolio__grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 15px;
  }
  .portfolio__img {
    opacity: 0.7;
    z-index: 0;
  }
  .portfolio__img:hover {
    border: 3px solid #332c2b;
    transform: scale(1.1);
    opacity: 1;
  }
  .portfolio__links {
    width: 32%;
    padding-top: 10px;
  }
  /*----Footer Desktop----*/
  .contacts__container {
    display: flex;
    flex-direction: row;
    padding: 0 30px 15px 30px;
  }
  .contacts__title {
    padding-left: 2%;
  }
  .contacts__link {
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    font-weight: 700;
  }
  .contacts__svg {
    margin-top: -5px;
  }
}

@media (min-width: 1200px) {
  .about {
    flex-direction: row;
  }
  .about__img {
    text-align: center;
    border-radius: 20px 0 0 20px;
    width: 45%;
  }
}
