body {
    font-family: "Roboto", "Sans-serif";
    width: 100%;
    margin: 0;
    background-color: #d3d3d3;
    background-image: url(https://scontent-cph2-1.xx.fbcdn.net/v/t1.15752-9/473165910_1269045734376799_6275181255791983507_n.jpg?stp=dst-jpg_s2048x2048_tt6&_nc_cat=109&ccb=1-7&_nc_sid=9f807c&_nc_ohc=beUYG3jR0DIQ7kNvgFo_nDy&_nc_zt=23&_nc_ht=scontent-cph2-1.xx&oh=03_Q7cD1gEeY21GPzlljt1l0IKsICTaG0vPMOPN-Mol4wZA8NCf0w&oe=67AEEC78);
}

p {
    line-height: 25px;
    font-size: 18px;
    border-radius: 15px;
}

p:hover {
    background-color: #d3d3d3;
}

a {
    text-decoration: none;
  }

a:hover {
    color: white;
    text-decoration: underline dotted;
}

button {
    cursor: pointer;
  }

a, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 3rem;
    padding: 21px 10% 21px 10%;
    z-index: 10000;
    margin-top: 0;
    width: 80%;
    font-family: "Montserrat", "Sans-serif";
    background: rgb(121,121,125);
    background: linear-gradient(90deg, rgba(121,121,125,1) 1%, rgba(166,166,166,1) 38%, rgba(121,120,121,1) 53%, rgba(182,181,182,1) 64%, rgba(130,130,130,1) 100%);

    & .checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        border-radius: 30%;
        width: 3em;
        height: 3em;
    }

    & img {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 15px;
    }

    & ul {
        list-style-type: none;
        padding: 0;
        margin-top: 3%;
        display: none;
        color: white;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1;

        & li:hover {
            scale: 1.05;
            transition: scale 0.3s ease-out;  
        }

        & li a {
            text-decoration: none;
            color: white;
            font-weight: bold;
        }
    }
}

.nav-container {
    justify-content: space-between;
    max-width: 90%;
}

.menu {
    display: flex;
    flex-direction: column;
    z-index: 2;

    & .line {
        background-color: white;
        height: 4px;
        width: 30px;
        margin: 5px 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

}

#menu-toggle {
    display: none;

    &:checked ~ ul {
        display: flex;
        align-items: center;
        width: 100%;
        position: absolute;
        background: rgb(121,121,125);
        background: linear-gradient(90deg, rgba(121,121,125,1) 1%, rgba(166,166,166,1) 38%, rgba(121,120,121,1) 53%, rgba(182,181,182,1) 64%, rgba(130,130,130,1) 100%);
        font-size: 2rem;

        & li {
            text-align: left;
            padding: 15px;
            font-family: "Montserrat", "Sans-serif";
        }
    }
}

#menu-toggle:checked + label .line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

#menu-toggle:checked + label .line:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked + label .line:nth-child(3) {
    margin-bottom: -10%;
    transform: translateY(-18px) rotate(-45deg);
}

header {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    justify-content: center;
    align-items: center;
    width: 100%;

    & h1 {
        margin-bottom: 1rem;
        font-size: 50px;
    }

    & p {
        font-size: 18px;
        opacity: 80%;
        margin-top: 0;
        max-width: 80%
    }
}

.aside {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 20px 10% 0 10%;

    & div {
        background-color: #f5f5f5;
        border-radius: 0 0 20px 20px;
        padding: 14px 21px 14px 21px; 
    }

    & img {
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }

    & p {
        opacity: 75%;
    }

    & h2 {
        padding-top: 20px;
        font-size: 2rem;
    }

    & p, h2 {
        max-width: 100%;
        text-align: justify;
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
    padding-top: 21px;
    padding-bottom: 14px;

    & a {
        width: 100%;
    }
}

.button1 {
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:6px 25px;
    width: 100%;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
    box-shadow: 3px 4px 0px 0px #899599;
	border-radius:15px;
	border:1px solid #057fd0;
    background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    background-color:#33bdef;

    & svg {
        height: 1.5rem;
        padding-right: 3%;
        margin-bottom: -0.3rem;
    }

    &:hover {
        background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
        background-color:#019ad2;
    }

    &:active {
        position:relative;
        top:1px;
    }
}

.button2 {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
    width: 100%;
	padding:6px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
    margin-top: 3%;

    & svg {
        min-height: 1.5rem;
        min-width: 1.5rem;
        width: 1.5rem;
        padding-right: 3%;
        margin-top: -0.3rem;
    }

    &:hover {
        background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
        background-color:#bab1ba;
    }

    &:active {
        position:relative;
        top:1px;
    }
}

article {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 70px 10% 35px 10%;
    margin-bottom: -5%;

    & ul {
        list-style-type: none;
        flex-direction: column;
        display: flex;
        background-color: #f5f5f5;
        border-radius: 20px;
        padding: 14px 21px 5px 21px;
    }

    & h2 {
        font-size: 2rem;
    }

    & h3 {
        margin-bottom: -0.5rem;
        font-weight: 550;
        font-size: 1.5rem;   
    }

    & li {
        opacity: 80%;
    }

    & p {
        opacity: 75%;
        padding-left: 0.1rem;
        text-align: justify;
    }

    &.date {
        opacity: 90%;
    }

    & img {
        width: 100%;
        border-radius: 20px;
    }
}

.progress-container {
    width: 100%;
}

.progress-bar {
    position: relative;
    background-color: black;
    height: 6px;
    border-radius: 3px;
    overflow: hidden;
}

.progress-dot {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    width: 12px;
    height: 12px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 50%;
}

.progress-html {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(180,73,238,1) 10%, rgba(209,51,235,0.8911939775910365) 35%, rgba(186,69,237,1) 73%, rgba(0,212,255,1) 100%);
    height: 6px;
    width: 25%; 
    position: relative;
}

.progress-css {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(180,73,238,1) 10%, rgba(209,51,235,0.8911939775910365) 35%, rgba(186,69,237,1) 73%, rgba(0,212,255,1) 100%);
    height: 6px;
    width: 30%; 
    position: relative;
}

.progress-js {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(180,73,238,1) 10%, rgba(209,51,235,0.8911939775910365) 35%, rgba(186,69,237,1) 73%, rgba(0,212,255,1) 100%);
    height: 6px;
    width: 10%; 
    position: relative;
}

.progress-python {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(180,73,238,1) 10%, rgba(209,51,235,0.8911939775910365) 35%, rgba(186,69,237,1) 73%, rgba(0,212,255,1) 100%);
    height: 6px;
    width: 20%; 
    position: relative;
}

.progress-sql {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(180,73,238,1) 10%, rgba(209,51,235,0.8911939775910365) 35%, rgba(186,69,237,1) 73%, rgba(0,212,255,1) 100%);
    height: 6px;
    width: 20%; 
    position: relative;
}

.progress-office {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(180,73,238,1) 10%, rgba(209,51,235,0.8911939775910365) 35%, rgba(186,69,237,1) 73%, rgba(0,212,255,1) 100%);
    height: 6px;
    width: 50; 
    position: relative;
}

.progress-english {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(180,73,238,1) 10%, rgba(209,51,235,0.8911939775910365) 35%, rgba(186,69,237,1) 73%, rgba(0,212,255,1) 100%);
    height: 6px;
    width: 80%; 
    position: relative;
}

.progress-russian {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(180,73,238,1) 10%, rgba(209,51,235,0.8911939775910365) 35%, rgba(186,69,237,1) 73%, rgba(0,212,255,1) 100%);
    height: 6px;
    width: 100%; 
    position: relative;
}

.progress-greek {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(180,73,238,1) 10%, rgba(209,51,235,0.8911939775910365) 35%, rgba(186,69,237,1) 73%, rgba(0,212,255,1) 100%);
    height: 6px;
    width: 100%; 
    position: relative;
}

.progress-teamwork {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(180,73,238,1) 10%, rgba(209,51,235,0.8911939775910365) 35%, rgba(186,69,237,1) 73%, rgba(0,212,255,1) 100%);
    height: 6px;
    width: 100%; 
    position: relative;
}

.skill {
    background-color: #f5f5f5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 14px 21px 21px 21px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}

.portfolio {
    padding-bottom: 50px;

    & div {
        background-color: #f5f5f5;
        border-radius: 20px 20px 20px 20px;
        padding: 14px 21px 14px 21px;  
    }

    & h2 {
        margin-bottom: -0.5%;
    }

    & img {
        object-fit: cover;
        height: 100%;
        transition: transform 0.3s ease;
    }
}

footer {
    display: flex;
    flex-direction: column;
    padding: 10px 11.3% 35px 11.3%;
    background-color: rebeccapurple;
    color: white;

    & div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        gap: 15px;
    }

    & a {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 15px;
        font-size: 18px;
        font-weight: 700;
    }

    &a:hover {
        transition: scale 0.3s ease-out;  
        scale: 1.05;
    }

    & svg {
        height: 25px;
        padding-right: 5%;
        margin-bottom: -0.3rem;
    }
}

@media (min-width: 850px) {
    .menu {
        display: none;
    }

    nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10% 30px 10%;
        max-height: 100px;

        & ul {
            display: flex;
            flex-direction: row;
            position: static;
        }

        & img {
            width: 5rem;
            height: 5rem;
            border-radius: 15px;
        }

        & img:hover{
            scale: 1.05;
            transition: scale 0.3s ease-out;  
        }

        & ul li {
            margin: 0 1em;
        }

        & ul li a {
            font-size: 25px;
        }
        
        & .checkbox {
            background-color: transparent;
        }
    }
    
    .nav-container {
        width: 50%;
        padding-top: 0.5rem;
    }

    header {
        padding-top: 10rem;

        & h1 { 
            font-size: 100px;
        }
    }

    .aside {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        padding: 35px 10% 70px 10%;

        & img {
            border-radius: 20px 0 0 20px;
            object-fit: cover;
            width: 45%;
        }

        & div {
            display: flex;
            flex-direction: column;
            padding-top: 50px;
            border-radius: 0 20px 20px 0;
        }

        & h2 {
            text-align: center;
        }

        & p {
            opacity: 75%;
        }  

        & section { 
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 30px;
            padding-top: auto;
            padding-bottom: 35px;
        }
    }
   
    .button1 {
        margin: 0;
        min-width: 85%;
    }

    .button2 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 0;
        min-width: 85%;
    }

    .date {
        border-width:2px;
        border-style:solid;
        border-color:rgb(189, 179, 179);
        padding: 5px;
        border-radius: 15px;
    }

    .progress-container {
        width: 17.5%;
    }

    .skill {
        padding-bottom: 21px;
    }
   
    article {
        padding-bottom: 70px;

        & ul div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        & ul p {
            max-width: 75%;
        }
            
    }

    .portfolio {
        margin-bottom: 35px;
        scale: 1;

        & .port {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom: 30px;

            & a {
                width: 32.1%;
                padding-top: 10px;
            }

            & img {
                opacity: 0.7;
                z-index: 0;
                position: relative;
            }

            & img:hover {
                border: 3px solid #332c2b;
                transform: scale(1.2);
                opacity: 1;
                z-index: 1;
            }
        }
    }

    footer div {
        display: flex;
        flex-direction: row;

        & a {
            display: flex;
            align-items: flex-start;
            font-size: 20px; 
            font-weight: 700;
            
            &:hover {
                background-color: rebeccapurple;
                scale: 1.05;
                transition: scale 0.3s ease-out;  
            }
        }
    }

    .svg4, .svg3 {
        margin-top: -3px;
    }
}
